*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-family: 'Ubuntu';
}
h1{
    font-family: 'Ubuntu';
}
p{
    font-family: 'Ubuntu';
}
.features-desc{
    display: flex;
    flex-direction: column;
}
.features-desc h2{
    font-size: 25px;
    font-weight: bolder;
}
.features-desc p{
    margin-top: 1rem;
    color:grey
}