*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.footer p{
    font-size: 17px;
}
.email-input{
    height: 6vh;
    border: none;
    width: 15vw;
    border-radius:5px;
    padding: 0 0.5rem;
}
.subscribe-button{
    height:6vh;
    width: 10vw;
    background-color: black;
    color: white;
    border-radius:5px;
}